/* ================= [1] تنسيقات صفحة تسجيل الدخول ================= */
.login-container h1,.login-container h2,.login-container h3,.login-container p,.login-container span{margin:0;padding:0;}
.content-wrapper{flex:1;display:flex;justify-content:center;align-items:center;padding:20px;}
.max-w-md{max-width:330px !important;transform:translateY(-80px);}
.login-container{display:flex;justify-content:center;align-items:center;height:100%;}

/* ================= [2] زر تسجيل الدخول ================= */
#custom-google-btn.button-outline{border-radius:15px;}

/* ================= [3] البطاقة الرئيسية ================= */
.card{background:var(--contentB);border-radius:20px;box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);border:1px solid var(--contentL);padding:0;margin:0 auto;}
@media (max-width:300px){.card{max-width:95vw;}}
.card .p-4{padding:0.5rem;}
.card .pt-2{padding-top:0.5rem;}
.card .pb-0{padding-bottom:0;}
.px-6{font-size:10px;}
